<div class="card">
    <div class="card-body">
        <h1>{{post.Title}}</h1>
        <hr>
        <small>Data da publicação: {{post.Date}}</small>
        <hr>
        <p align="justify">{{post.Content}}</p>
    </div>
</div>